weights/hunyuan3d-dit-v2-mv/config.yaml
weights/hunyuan3d-dit-v2-mv/model.fp16.ckpt
weights/hunyuan3d-dit-v2-mv/model.fp16.safetensors
weights/hunyuan3d-paint-v2-0/.gitattributes
weights/hunyuan3d-paint-v2-0/model_index.json
weights/hunyuan3d-paint-v2-0/feature_extractor/preprocessor_config.json
weights/hunyuan3d-paint-v2-0/scheduler/scheduler_config.json
weights/hunyuan3d-paint-v2-0/text_encoder/config.json
weights/hunyuan3d-paint-v2-0/text_encoder/pytorch_model.bin
weights/hunyuan3d-paint-v2-0/tokenizer/merges.txt
weights/hunyuan3d-paint-v2-0/tokenizer/special_tokens_map.json
weights/hunyuan3d-paint-v2-0/tokenizer/tokenizer_config.json
weights/hunyuan3d-paint-v2-0/tokenizer/vocab.json
weights/hunyuan3d-paint-v2-0/unet/config.json
weights/hunyuan3d-paint-v2-0/unet/diffusion_pytorch_model.bin
weights/hunyuan3d-paint-v2-0/unet/diffusion_pytorch_model.safetensors
weights/hunyuan3d-paint-v2-0/unet/modules.py
weights/hunyuan3d-paint-v2-0/vae/config.json
weights/hunyuan3d-paint-v2-0/vae/diffusion_pytorch_model.bin
weights/hunyuan3d-paint-v2-0/vae/diffusion_pytorch_model.safetensors
